<div class="pokedex-container">
    @if(pokemonesCompletos){

        @for(item of pokemonesCompletos; track item.id){

            <mat-card class="pokedex-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{item.id}}</mat-card-title>
                        <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
                        <img mat-card-image [src]="item.sprites.front_default">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <div class="pokemon-info">
                        <div class="pokemon-types">
                            <mat-card-subtitle>Tipo</mat-card-subtitle>
                            @for(tipos of item.types; track tipos){
                                <p>{{tipos.type.name}}</p>
                            }
                        </div>
                        <div class="pokemon-abilities">
                            <mat-card-subtitle>Habilidades</mat-card-subtitle>
                            @for(habilidad of item.abilities; track habilidad){
                                <p>{{habilidad.ability.name}}</p>
                            }
                        </div>
                    </div>

                    <button mat-button class="sound-button" (click)="playSound(item.cries.latest)">Sonido</button>
                </mat-card-content>
            </mat-card>

        }  
    }
</div>

