<div class="search-container">
  <div class="pokemon-search-form">
    <label class="labelInput">Ingrese nombre o número de Pokémon</label>
    <input [(ngModel)]="idPokemon" type="text" class="inputId">
    <div class="button-container">
      <button (click)="buscarPokemon()" class="pokemon-button">Buscar</button>
      <button  class="pokemon-button" routerLink="/">Atras</button>
    </div>
  </div>
</div>



 

<div *ngIf="pokemonData ; elseBlock" class="card-pokemon">
    
  <mat-card class="pokedex-card">
    <div class="cardHeader">
      <div class="cardTitle">
        <div class="titleId">{{pokemonData.id}}</div>
        <div class="subtitle">{{pokemonData.name}}</div>
      </div>
    </div>
    <mat-card-content>
      <div class="imgPokemon">
        <img mat-card-image [src]="pokemonData.sprites.front_default" alt="{{pokemonData.name}}">
      </div>  
      <div class="pokemon-info">
        <div class="infoItem">
          <mat-card-subtitle>Altura</mat-card-subtitle>
          <p>{{pokemonData.height}}</p>
        </div>
        <div class="infoItem">
          <mat-card-subtitle>Peso</mat-card-subtitle>
          <p>{{pokemonData.weight}}</p>
        </div>
        <div class="infoItem">
          <mat-card-subtitle>Tipo</mat-card-subtitle>
          <ng-container *ngFor="let tipo of pokemonData.types">
            <p>{{tipo.type.name}}</p>
          </ng-container>
        </div>
      </div>
      <div class="button-verMas">
        <button mat-button class="verMas-button"  (click)="openDialog(pokemonData.id)">Ver mas</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>

